# Trabajo Práctico Redes Neuronales

Trabajo Práctico hecho por Benjamin Kapustiansky y Oliver Safdieh

In [13]:
%pip install pandas
%pip install numpy
%pip install matplotlib
%pip install random

Requirement already satisfied: pandas in c:\users\48521682\appdata\local\programs\python\python312\lib\site-packages (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in c:\users\48521682\appdata\local\programs\python\python312\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\48521682\appdata\roaming\python\python312\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\48521682\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\48521682\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: six>=1.5 in c:\users\48521682\appdata\roaming\python\python312\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.2 -> 24.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip

Requirement already satisfied: numpy in c:\users\48521682\appdata\local\programs\python\python312\lib\site-packages (1.26.4)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.2 -> 24.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip

Requirement already satisfied: matplotlib in c:\users\48521682\appdata\local\programs\python\python312\lib\site-packages (3.9.2)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\48521682\appdata\local\programs\python\python312\lib\site-packages (from matplotlib) (1.3.0)
Requirement already satisfied: cycler>=0.10 in c:\users\48521682\appdata\local\programs\python\python312\lib\site-packages (from matplotlib) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\48521682\appdata\local\programs\python\python312\lib\site-packages (from matplotlib) (4.53.1)
Requirement already satisfied: kiwisolver>=1.3.1 in c:\users\48521682\appdata\local\programs\python\python312\lib\site-packages (from matplotlib) (1.4.7)
Requirement already satisfied: numpy>=1.23 in c:\users\48521682\appdata\local\programs\python\python312\lib\site-packages (from matplotlib) (1.26.4)
Requirement already satisfied: packaging>=20.0 in c:\users\48521682\appdata\roaming\python\python312\site-packages (from matplotlib) (24.1)
Requirement already satisfied: pillow>=8 in c:\users\48521682\appdata\local\programs\python\python312\lib\site-packages (from matplotlib) (10.4.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\48521682\appdata\local\programs\python\python312\lib\site-packages (from matplotlib) (3.1.4)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\48521682\appdata\roaming\python\python312\site-packages (from matplotlib) (2.9.0.post0)
Requirement already satisfied: six>=1.5 in c:\users\48521682\appdata\roaming\python\python312\site-packages (from python-dateutil>=2.7->matplotlib) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.2 -> 24.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip

Note: you may need to restart the kernel to use updated packages.

ERROR: Could not find a version that satisfies the requirement random (from versions: none)

[notice] A new release of pip is available: 24.2 -> 24.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip
ERROR: No matching distribution found for random

In [14]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from random import random as rand
import itertools

In [8]:
archivo = "dataset_frutas.csv"

# Leer datos del archivo
frutas : pd.DataFrame = pd.read_csv(archivo)
frutas

           Peso      Color    Tamaño  Ácida  Dulce  Tropical
0    202.921570       Rojo  5.666598      0      1         1
1    162.004716      Verde  8.298573      1      1         1
2    179.362140   Amarillo  5.631649      0      1         1
3    217.226796   Amarillo  8.166169      0      0         1
4    206.026740      Claro  7.444632      0      0         1
..          ...        ...       ...    ...    ...       ...
295  184.106741     Oscuro  3.981108      1      0         0
296  152.931749       Rojo  7.602139      1      1         0
297  167.488610  Muy claro  7.751694      0      0         1
298  138.016529      Verde  5.637248      1      1         1
299  161.101677   Amarillo  8.441367      0      1         1

[300 rows x 6 columns]

## One Hot Encoding

In [9]:
# Color
frutas = pd.get_dummies(frutas, columns=["Color"])

frutas

,Peso,Tamaño,Ácida,Dulce,Tropical,Color_Amarillo,Color_Claro,Color_Muy claro,Color_Muy oscuro,Color_Naranja,Color_Oscuro,Color_Rojo,Color_Rojo claro,Color_Verde
0,202.921570,5.666598,0,1,1,False,False,False,False,False,False,True,False,False
1,162.004716,8.298573,1,1,1,False,False,False,False,False,False,False,False,True
2,179.362140,5.631649,0,1,1,True,False,False,False,False,False,False,False,False
3,217.226796,8.166169,0,0,1,True,False,False,False,False,False,False,False,False
4,206.026740,7.444632,0,0,1,False,True,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
295,184.106741,3.981108,1,0,0,False,False,False,False,False,True,False,False,False
296,152.931749,7.602139,1,1,0,False,False,False,False,False,False,True,False,False
297,167.488610,7.751694,0,0,1,False,False,True,False,False,False,False,False,False
298,138.016529,5.637248,1,1,1,False,False,False,False,False,False,False,False,True
299,161.101677,8.441367,0,1,1,True,False,False,False,False,False,False,False,False

## Reordenar columnas

In [10]:
frutas.columns

Index(['Peso', 'Tamaño', 'Ácida', 'Dulce', 'Tropical', 'Color_Amarillo',
       'Color_Claro', 'Color_Muy claro', 'Color_Muy oscuro', 'Color_Naranja',
       'Color_Oscuro', 'Color_Rojo', 'Color_Rojo claro', 'Color_Verde'],
      dtype='object')

In [12]:
frutas = frutas.reindex(['Peso', 'Tamaño', 'Color_Amarillo',
       'Color_Claro', 'Color_Muy claro', 'Color_Muy oscuro', 'Color_Naranja',
       'Color_Oscuro', 'Color_Rojo', 'Color_Rojo claro', 'Color_Verde', 'Ácida', 'Dulce', 'Tropical'], axis=1)
frutas

,Peso,Tamaño,Color_Amarillo,Color_Claro,Color_Muy claro,Color_Muy oscuro,Color_Naranja,Color_Oscuro,Color_Rojo,Color_Rojo claro,Color_Verde,Ácida,Dulce,Tropical
0,202.921570,5.666598,False,False,False,False,False,False,True,False,False,0,1,1
1,162.004716,8.298573,False,False,False,False,False,False,False,False,True,1,1,1
2,179.362140,5.631649,True,False,False,False,False,False,False,False,False,0,1,1
3,217.226796,8.166169,True,False,False,False,False,False,False,False,False,0,0,1
4,206.026740,7.444632,False,True,False,False,False,False,False,False,False,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
295,184.106741,3.981108,False,False,False,False,False,True,False,False,False,1,0,0
296,152.931749,7.602139,False,False,False,False,False,False,True,False,False,1,1,0
297,167.488610,7.751694,False,False,True,False,False,False,False,False,False,0,0,1
298,138.016529,5.637248,False,False,False,False,False,False,False,False,True,1,1,1
299,161.101677,8.441367,True,False,False,False,False,False,False,False,False,0,1,1